<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.diagnosticapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiagnosticApp"
        tools:targetApi="31">
        <activity
            android:name=".AppSettingActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".SoundActivity"
            android:exported="false" />
        <activity
            android:name=".SensorActivity"
            android:exported="false" />
        <activity
            android:name=".FilemanagerActivity"
            android:exported="false" />
        <activity
            android:name=".SignalActivity"
            android:exported="false" />
        <activity
            android:name=".WifiActivity"
            android:exported="false" />
        <activity
            android:name=".BatteryActivity"
            android:exported="false" />
        <activity
            android:name=".Mobile_infoActivity"
            android:exported="false" />
        <activity
            android:name=".SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>